<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270990256178-5ckuna4p5qnh3ttutcj9pe9jhsc8noaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270990256178-5ckuna4p5qnh3ttutcj9pe9jhsc8noaj</string>
	<key>API_KEY</key>
	<string>AIzaSyD_6bN3ahpcUxWrvfp8baaWnWDeJvn3Lis</string>
	<key>GCM_SENDER_ID</key>
	<string>270990256178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokecode</string>
	<key>PROJECT_ID</key>
	<string>pokecode-ufrpe</string>
	<key>STORAGE_BUCKET</key>
	<string>pokecode-ufrpe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270990256178:ios:cf109026b537c0ea55342b</string>
	<key>DATABASE_URL</key>
	<string>https://pokecode-ufrpe-default-rtdb.firebaseio.com</string>
</dict>
</plist>